#sypro {
    width: 300px;
    float: left;
    margin: 30px;
    height: 200px;
}

#gemCollector {
    width: 350px;
    height: 250px;
    float: left;
    margin: 30px;
    text-align: center;
    position: relative;
    overflow: hidden;
    background-image: url("../images/spyro-fav.png"); 
    background-size: 100%;
}

#triviaGame {
    width: 350px;
    height: 250px;
    float: left;
    margin: 30px;
    text-align: center;
    position: relative;
    overflow: hidden;
    background-image: url("../images/magicFavicon.jpg"); 
    background-size: 100%;
}

#gifTastic {
    width: 350px;
    height: 250px;
    float: left;
    margin: 30px;
    text-align: center;
    position: relative;
    overflow: hidden;
    background-image: url("../images/gifimage.png"); 
    background-size: 100%;
}

#planeScheduler{
    width: 350px;
    height: 250px;
    float: left;
    margin: 30px;
    text-align: center;
    position: relative;
    overflow: hidden;
    background-image: url("../images/planefavicon.png"); 
    background-size: 100%;
}



/* .amway {
    width: 350px;
    height: 250px;
    float: left;
    margin: 30px;
    text-align: center;
    position: relative;
    overflow: auto;
} */

.cheeto {
    width: 350px;
    float: left;
    margin: 30px;
}

.code {
    width: 350px;
    float: left;
    margin: 30px;
}

.cooking {
    width: 350px;
    float: left;
    margin: 30px;
}

.music {
    width: 350px;
    float: left;
    margin: 30px;
}

.movie {
    width: 350px;
    float: left;
    margin: 30px;
}
